*{
margin: 0;
padding: 0;
}

header{ 
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100vw;
}

nav {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 60%;
}

a{
    margin: 0 15px; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.logo img {
    height: 50px; 
}

.menu {
    list-style: none; 
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none; 
    color: black;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 5em;
}

div{
    display: flex;
    justify-content: center;
}

main h2{
    text-align: center;
    margin-top: 120px;
    font-size: 2em;
    margin-left: 100px;
}

main h3{
    text-align: center;
    margin-top: 120px;
    font-size: 2em;
    margin-left: 100px;
}

main h4{
    text-align: center;
    margin-top: 120px;
    font-size: 2em;
    margin-left: 100px;
}

.card{
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-top: 190px;   
    height: 500px;
}

footer{
    display: flex;
    justify-content: right;
    margin-top: 612px;
    height: 100px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

footer img{
    width: 60px;
    margin-right: 30px;
}