*{
margin: 0;
padding: 0;
}

header{ 
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    width: 100vw;
}

nav {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 60%;
}

a{
    margin: 0 15px; 
    text-decoration: none; 
    color: black; 
    font-weight: bold; 
}

.logo img {
    height: 50px; 
}

.menu {
    list-style: none; 
    display: flex; 
}

.menu li {
    margin-left: 20px;
}

.menu a {
    text-decoration: none; 
    color: black;
}

h1 {
    margin-left: 150px;
    margin-right: 150px;
    text-align: center;
    margin-top: 20px;
    font-size: 5em;
}

.logo{
    display: flex;
    justify-content: center;
}

h2{
    text-align: center;
    margin-top: 120px;
    font-size: 2em;
}

.main{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 100px;;
}

h1{
    margin-top: 70px;
    font-size: 3em;
    text-align: center;
}

.card{
    display: flex;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
    margin-top: 190px;   
    height: 500px;
}

div.trabalhos{
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top: 130px;
}

footer{
    display: flex;
    justify-content: right;
    margin-top: 295px;
    height: 100px;
    align-items: center;
    background-color: rgb(0, 0, 0);
    box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.1);
}

footer img{
    width: 60px;
    margin-right: 30px;
}
