*{
margin: 0;
padding: 0;
}

body{
    background-color: black;
}

header{ 
    display: flex;
    justify-content: center;
    box-shadow: 0px 4px 4px rgb(238, 236, 236);
    width: 100vw;
}

nav {
    display: flex; 
    justify-content: center;
    align-items: center; 
    width: 60%;
}

a{
    margin: 0 15px; 
    text-decoration: none; 
    color: rgb(255, 255, 255); 
    font-weight: bold; 
}

.logo img {
    height: 50px; 
}

.menu a {
    text-decoration: none; 
    color: rgb(255, 255, 255);
}

h1{
    text-align: center;
    color: white;
    margin-top: 100px;
    font-size: 7em;
}

footer{
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 400px;
}

footer img{
    width: 60px;
    margin-right: 30px;
}

div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    gap: 40px;
    color: white;
    font-size: 2em;
}
